{% extends 'base.html.twig' %}
{% block footer %}
    </div>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="text-center p-4" style="color: {{ text_color }};">
            &copy; 2020 - 2022 {{ langs.trans('AllRightsReserved') }}
            <a class="text-reset fw-bold" href="https://blacktiehost.com/">BlackTieHost.com</a>
        </div>
    </footer>
{% endblock %}