{% extends 'base.html.twig' %}
{% block footer %}
    </div>
    </section>
    </main>
    </div>
    </div>
    <footer id="footer" class="footer">
        <div class="footer-legal text-center">
            <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright">
                        &copy; 2020 - 2022 {{ langs.trans('AllRightsReserved') }}
                        <a class="text-reset fw-bold" href="https://blacktiehost.com/">BlackTieHost.com</a>
                    </div>
                </div>
                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a href="https://github.com/milenmk" class="github"><i class="bi bi-git"></i></a>
                    <a href="skype:milenmk1?chat" class="skype"><i class="bi bi-skype"></i></a>
                    <a href="https://www.linkedin.com/in/milen-karaganski-0664a1255/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>

            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
{% endblock %}