{% extends 'base.html.twig' %}
{% block messageblock %}
    {% if error %}
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ error }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if message %}
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}