{% extends 'base.html.twig' %}
{% block footer %}
    </div>
    </div>
    {% if theme == 'default' %}
        {% set background = 'bg-light' %}
        {% set text_color = '#000' %}
    {% elseif theme == 'dark' %}
        {% set background = 'bg-dark' %}
        {% set text_color = '#fff' %}
    {% endif %}
    <footer class="text-center text-lg-start {{ background }} text-muted">
        <div class="text-center p-4" style="color: {{ text_color }};">
            &copy; 2020 - 2022 {{ langs.trans('AllRightsReserved') }}
            <a class="text-reset fw-bold" href="https://blacktiehost.com/">BlackTieHost.com</a>
        </div>
    </footer>
{% endblock %}