{% extends 'base.html.twig' %}
{% block body %}
    <script src="{{ main_url }}/themes/default/js/focus.input.js"></script>
    <form method="post">
        <input type="hidden" name="action" value="create"/>
        <div class="table-responsive">
            <table class="table table-info table-striped rounded rounded-3 overflow-hidden">
                <thead>
                <tr>
                    <th scope="col">{{ langs.trans('Label') }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="label"></label>
                        <input type="text" name="label" id="label"/>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input class="btn btn-info" type="submit" name="submit" value="{{ langs.trans('Confirm') }}"/>
                            <input type="button" class="btn btn-danger" value="{{ langs.trans('Cancel') }}" onclick="javascript:history.go(-1)">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}