<?php
// Store the cipher method
// DO NOT change
$ciphering = 'AES-128-CTR';

// Use OpenSSl Encryption method
// DO NOT change
$iv_length = openssl_cipher_iv_length($ciphering);
$options = 0; # the AES options

// Non-NULL Initialization Vector for encryption
// Random string, can include letters, numbers and special characters.
// Must be 16 characters!!!
$decryption_iv = $encryption_iv = '';

// Store the encryption/decryption key
// Random string, can include letters, numbers and special characters
// Must be 32 characters. Less or more may also work, but 32 is the recommended value
// If the passphrase is shorter than expected, it is silently padded with NULL characters.
// If the passphrase is longer than expected, it is silently truncated.
$decryption_key = $encryption_key = '';